# Virtual environment
fatigue_detection_env/
.env/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Jupyter Notebook files
*.ipynb_checkpoints/
.ipynb_checkpoints/

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
